<h1>Restaurants</h1>

<div id="card" class="card">
  <% @restaurants.each do |restaurant| %>
    <%= restaurant.name%>
    <p>
      <%= link_to "Show this restaurant", restaurant_path(restaurant) %>
    </p>
  <% end %>
</div>
<div>
<button type="button" class="btn btn-warning"> <%= link_to "Add restaurant", new_restaurant_path %> </button>

  </div>
